<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Anthologies</title>
</head>
<body>
<div>
    <h1>List of Anthologies</h1>
    <ul>
        <div th:each="antologia : ${antologias}">
            <li>
                <h4>
                    <span th:text="${antologia.nombre}">
                        Nombre

                    </span>
                    <span>
                        <a th:href="@{/insertarArticulo(idAntologia=${antologia.id})}"  >insertar articulo</a>
                    </span>
                </h4>
            </li>
            <ul>
                <div th:each="articulo : ${antologia.articulos}">
                    <li>
                        <h4>
                            <span th:text="${articulo.nombre}" >Nombre</span>
                        </h4>
                    </li>
                </div>
            </ul>
        </div>
    </ul>
</div>
</body>
</html>